#blank {
    min-height: 100%;
    min-width: 100%;
    padding: 15px;
    color: rgb(36, 36, 36);
    background: #464646;
    border: 1px solid rgb(85, 85, 85);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 12px 16px 0 rgba(107, 107, 107, 0.24), 0 17px 50px 0 rgba(83, 83, 83, 0.19);
    z-index: 9997;
    top: 0;
    position: fixed
}

#imageProduct {
    background-image: linear-gradient(to bottom, rgba(94, 94, 94, 0.52), rgba(231, 139, 86, 0.349));
    background-size: cover;
    width: 190px;
}

#testproduct {
    background-color: black;
    box-shadow: 0 19px 38px rgba(36, 36, 36, 0.171), 0 15px 12px rgba(0, 0, 0, 0.151);
    padding: 10px;
}

#tablet {
    z-index: 9998;
}
